/*全局css 开始*/




* {
    margin: 0;
}


@font-face {
    font-family: 'LXGWWcyzt'; 
    src: url('/font/常用字体版.woff2') format('woff2'); 

}


@font-face {
    font-family: 'remixicon';
    src: url('/font/remixicon.woff2') format('woff2'),
        url('/font/remixicon.woff') format('woff'),
        url('/font/remixicon.ttf') format('ttf');

}

.remixicon-css {
    font-family: "remixicon" !important;
    font-size: 2.5rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Your Font", Arial, Helvetica, sans-serif;
   
        /* font-family: 'LXGWWcyzt', Arial, Helvetica, sans-serif; */
    /*  自定义字体 */
    
}


html {
    font-size: 16px;
}

/*4k分辨率*/
@media (min-width: 4096px) {
    html {
        font-size: 3rem;
    }
}

/*50%分辨率*/
@media (max-width: 3840px) {
    html {
        font-size: 2rem;
    }
}

/*67%分辨率*/
@media (max-width: 2880px) {
    html {
        font-size: 1.5rem;
    }
}

/*75%分辨率*/
@media (max-width: 2560px) {
    html {
        font-size: 1.33rem;
    }
}

/*80%缩放率*/
@media (max-width: 2400px) {
    html {
        font-size: 1.25rem;
    }
}


/*90%缩放率*/
@media (max-width: 2134px) {
    html {
        font-size: 1.11rem;
    }
}

/*1080p分辨率*/
@media (max-width: 1920px) {
    html {
        font-size: 1rem;
    }
}

/* 110%缩放率 */
@media (max-width: 1754px) {
    html {
        font-size: 0.908rem;
    }
}

/* 125%缩放率 */
@media (max-width: 1536px) {
    html {
        font-size: 0.8rem;
    }
}

/* 150%缩放率 */
@media (max-width: 1280px) {
    html {
        font-size: 0.665rem;
    }
}

/* 175%缩放率 */
@media (max-width: 1098px) {
    html {
        font-size: 0.57rem;
    }
}

/* 200缩放率 */
@media (max-width: 960px) {
    html {
        font-size: 0.50rem;
    }
}

/*手机分辨率*/
@media (max-width: 765px) {
    html {
        font-size: 1rem;
    }
}
/*小屏手机分辨率*/
@media (max-width: 340px) {
    html {
        font-size: 0.85rem;
    }
}


a {
    text-decoration: none;
}

#app{
    height: 100%;
    width: 100%;
}

/*全局css 结束*/


/*消息提示弹出框css 开始*/
.msg-diolog-div {
    width: 240px;
    height: 65px;
    padding: 1rem;
    margin: 1rem;

    border-radius: 0.25rem;


    background-color: rgb(255, 255, 255);
    position: fixed;
    z-index: 1;

}

.msg-type-default {
    border: 1px solid rgba(0, 0, 0, 0.137);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.404);
}

.msg-type-success {
    border: 1px solid rgba(103, 194, 58, 0.541);
    box-shadow: 0px 0px 2px rgba(103, 194, 58, 0.986);
}

.msg-type-error {
    border: 1px solid rgba(255, 1, 1, 0.589);
    box-shadow: 0px 0px 2px rgba(255, 1, 1, 0.966);
}


.msg-site-top {
    top: 0;
    right: 0;
    animation-name: msg-animat;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.msg-site-bottom {
    bottom: 0;
    right: 0;
    animation-name: msg-animat;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.msg-site-center {
    top: 0;
    left: 50%;
    margin-left: -120px;
    /* 将容器的左边距设置为负宽度的一半 */
    transform: translate(-50%, -50%);
    animation-name: msg-animat-top;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}


@keyframes msg-animat {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes msg-animat-top {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
    }
}




.msg-diolog-main-div {
    margin-top: 0.25rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

}



.msg-diolog-text-content-div {
    width: 70%;
    color: black;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    /* 取消移动设备上的点击高亮效果 */

}

.msg-diolog-text-title {
    width: 100%;
    overflow: hidden;
    /*让过长的文字变成...*/
    white-space: nowrap;
    /*文字不换行 */
    text-overflow: ellipsis;
    /*让超长文字变成 ...*/
    line-height: 1rem;
    /*行高*/
    margin-bottom: 0.5rem;
    font-weight: 700;
    font-size: 14px;
}

.msg-diolog-text-txt {
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* 显示的行数 */
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    /* 可以换行 */
    text-overflow: ellipsis;
    line-height: 1rem;
    /* 行高 */
    max-height: 2rem;
    /* 最大高度为2行 */
    font-size: 14px;
}

.msg-diolog-img-div {}

.msg-diolog-img {
    width: 50px;
    height: 50px;
}

/*消息提示弹出框css 结束*/